Coleção de dados dos imoveis do estado de São Paulo

In [1]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

#px.set_mapbox_access_token(open("mapbox_token").read())

In [3]:
df_data = pd.read_csv('/content/sao-paulo-properties-april-2019.csv')

In [4]:
df_data.head()

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,Negotiation Type,Property Type,Latitude,Longitude
0,930,220,47,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.543138,-46.479486
1,1000,148,45,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.550239,-46.480718
2,1000,100,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.542818,-46.485665
3,1000,200,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.547171,-46.483014
4,1300,410,55,2,2,1,1,1,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.525025,-46.482436

In [5]:
df_rent = df_data[df_data['Negotiation Type'] == 'rent']

df_rent

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,Negotiation Type,Property Type,Latitude,Longitude
0,930,220,47,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.543138,-46.479486
1,1000,148,45,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.550239,-46.480718
2,1000,100,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.542818,-46.485665
3,1000,200,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.547171,-46.483014
4,1300,410,55,2,2,1,1,1,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.525025,-46.482436
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11205,3700,595,73,1,2,1,1,0,0,1,0,Brooklin/São Paulo,rent,apartment,-23.617682,-46.694963
11206,21000,3000,208,4,4,3,3,1,1,1,0,Brooklin/São Paulo,rent,apartment,-23.606891,-46.695934
11207,3800,710,55,1,1,0,1,0,1,1,0,Brooklin/São Paulo,rent,apartment,0.000000,0.000000
11208,5000,2354,205,3,2,1,2,1,0,0,0,Brooklin/São Paulo,rent,apartment,-23.612287,-46.681482
11209,15600,2300,162,3,4,3,3,0,0,1,0,Brooklin/São Paulo,rent,apartment,-23.615823,-46.685404

PREPARAÇÃO DE DAOS PARA MODELOS DE ML

In [6]:
df_rent

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,Negotiation Type,Property Type,Latitude,Longitude
0,930,220,47,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.543138,-46.479486
1,1000,148,45,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.550239,-46.480718
2,1000,100,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.542818,-46.485665
3,1000,200,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.547171,-46.483014
4,1300,410,55,2,2,1,1,1,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.525025,-46.482436
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11205,3700,595,73,1,2,1,1,0,0,1,0,Brooklin/São Paulo,rent,apartment,-23.617682,-46.694963
11206,21000,3000,208,4,4,3,3,1,1,1,0,Brooklin/São Paulo,rent,apartment,-23.606891,-46.695934
11207,3800,710,55,1,1,0,1,0,1,1,0,Brooklin/São Paulo,rent,apartment,0.000000,0.000000
11208,5000,2354,205,3,2,1,2,1,0,0,0,Brooklin/São Paulo,rent,apartment,-23.612287,-46.681482
11209,15600,2300,162,3,4,3,3,0,0,1,0,Brooklin/São Paulo,rent,apartment,-23.615823,-46.685404

A ideia é separa a base de dados o Preço (price) vai ser o nosso eixo Y e o restante vai ser o o eixo X

Para não termos um sistema inviesado devemos tirar duas colunas que regista que o ímovel é alugado ou vendido.

coluna - Negotiation 

coluna - 	Property

In [7]:
df_rent.columns

Index(['Price', 'Condo', 'Size', 'Rooms', 'Toilets', 'Suites', 'Parking',
       'Elevator', 'Furnished', 'Swimming Pool', 'New', 'District',
       'Negotiation Type', 'Property Type', 'Latitude', 'Longitude'],
      dtype='object')

In [8]:
f_cleaned = df_rent.drop(['New','Property Type','Negotiation Type'], axis=1)

#Excluir algumas colunas

In [9]:
f_cleaned.head()

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,District,Latitude,Longitude
0,930,220,47,2,2,1,1,0,0,0,Artur Alvim/São Paulo,-23.543138,-46.479486
1,1000,148,45,2,2,1,1,0,0,0,Artur Alvim/São Paulo,-23.550239,-46.480718
2,1000,100,48,2,2,1,1,0,0,0,Artur Alvim/São Paulo,-23.542818,-46.485665
3,1000,200,48,2,2,1,1,0,0,0,Artur Alvim/São Paulo,-23.547171,-46.483014
4,1300,410,55,2,2,1,1,1,0,0,Artur Alvim/São Paulo,-23.525025,-46.482436

TRATAMENTO DE DADOS CATEGORICOS

Transofrmar os dados categoricos em númericos 

Vamos criar um número para cada bairro

In [10]:
#ESSA FORMA É IDEAL QUANDO EXISTE POUCAS CLASSES.


#from sklearn.preprocessing import OrdinalEncoder # o ORdinal encoder vai criar uma número para cada uma delas 
#ordinal_encoder = OrdinalEncoder()

#district_encoded = ordinal_encoder.fit_transform(df_rent[['District']])#Lembrando que temos que colocar a coluna em dois clchetes

#Essa função vai pegar a coluna que esta em caracteres e transformar em numeros **************

In [11]:
#vamos visualizar a modificação 

#district_encoded

#cada um deles foram substiruidos por um número

In [12]:
#ESSE MODELO É MELHOR PARA TRABALHAR QUANDO TEMOS MUITAS CLASSES



from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()

district_encoded  = ordinal_encoder.fit_transform(df_rent[['District']])

In [13]:
#vamos veriricar a mudança

district_encoded

array([[3.],
       [3.],
       [3.],
       ...,
       [9.],
       [9.],
       [9.]])

In [14]:
#vamos utilizar o honHOtEncoder  fazre uma encodamento criando uma coluna para cada bairro 
#todos os bairros que for marcado com  Artur Alvim vai ser marcado com 0 outra cidade vai ser marcado como 1 
#OU seja vamos ter apenas duas classes 0 ou 1 


from sklearn.preprocessing import OneHotEncoder

cat_enconder = OneHotEncoder()

hausing_cat_1hot = cat_enconder.fit_transform(f_cleaned[['District']])
hausing_cat_1hot

<7228x94 sparse matrix of type '<class 'numpy.float64'>'
	with 7228 stored elements in Compressed Sparse Row format>

In [15]:
#precisamos usar o array para visualizar os dados modificados 
hausing_cat_1hot.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

cada coluna representa a um bairro e cada linhra representa um apartamento

In [16]:
#existe a possibilidade de usar o pandas para fazer esse serviço de Dummi
one_hot = pd.get_dummies(f_cleaned['District'])

df = f_cleaned.drop('District', axis=1)#JOGAR FORA O DITRICT 
df = df.join(one_hot)
df


#ESSE É O JEITO MNAIS FACIL

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,...,Vila Jacuí/São Paulo,Vila Leopoldina/São Paulo,Vila Madalena/São Paulo,Vila Maria/São Paulo,Vila Mariana/São Paulo,Vila Matilde/São Paulo,Vila Olimpia/São Paulo,Vila Prudente/São Paulo,Vila Sônia/São Paulo,Água Rasa/São Paulo
0,930,220,47,2,2,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1000,148,45,2,2,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1000,100,48,2,2,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1000,200,48,2,2,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1300,410,55,2,2,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11205,3700,595,73,1,2,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
11206,21000,3000,208,4,4,3,3,1,1,1,...,0,0,0,0,0,0,0,0,0,0
11207,3800,710,55,1,1,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
11208,5000,2354,205,3,2,1,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11209,15600,2300,162,3,4,3,3,0,0,1,...,0,0,0,0,0,0,0,0,0,0

OS DADOS FORAM LIMPOS E TESTADOS PRONTOS PARA USAR O MACHINE

<H3>TREINAR OS MODELOS</H3>

In [17]:
df

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,...,Vila Jacuí/São Paulo,Vila Leopoldina/São Paulo,Vila Madalena/São Paulo,Vila Maria/São Paulo,Vila Mariana/São Paulo,Vila Matilde/São Paulo,Vila Olimpia/São Paulo,Vila Prudente/São Paulo,Vila Sônia/São Paulo,Água Rasa/São Paulo
0,930,220,47,2,2,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1000,148,45,2,2,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1000,100,48,2,2,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1000,200,48,2,2,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1300,410,55,2,2,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11205,3700,595,73,1,2,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
11206,21000,3000,208,4,4,3,3,1,1,1,...,0,0,0,0,0,0,0,0,0,0
11207,3800,710,55,1,1,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
11208,5000,2354,205,3,2,1,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11209,15600,2300,162,3,4,3,3,0,0,1,...,0,0,0,0,0,0,0,0,0,0

Separa em treino e teste

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
y = df['Price'] # o meu Y vai ser todo o DF Price
X = df.loc[:, df.columns != 'Price']# e o X vai ser todo o df  for diferente de y Price

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3 )

In [21]:
X_train.shape

#Pegou 5059 apartamentos para treino

(5059, 105)

In [22]:
X_train

,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,Latitude,...,Vila Jacuí/São Paulo,Vila Leopoldina/São Paulo,Vila Madalena/São Paulo,Vila Maria/São Paulo,Vila Mariana/São Paulo,Vila Matilde/São Paulo,Vila Olimpia/São Paulo,Vila Prudente/São Paulo,Vila Sônia/São Paulo,Água Rasa/São Paulo
5373,1600,154,3,1,0,1,1,0,0,-23.572822,...,0,0,0,0,0,0,0,0,0,0
500,0,48,2,2,1,1,0,0,0,-23.506624,...,0,0,0,0,0,0,0,0,0,0
1650,640,58,2,2,1,1,1,1,1,-23.522756,...,0,0,0,0,0,0,0,0,0,0
2436,200,75,1,2,0,1,0,0,0,-23.566094,...,0,0,0,0,0,0,0,0,0,0
10549,665,68,3,1,0,1,0,0,0,-23.662880,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4044,1800,127,3,3,2,3,0,0,1,-23.601289,...,0,0,0,0,0,0,0,0,0,0
3331,1123,160,3,4,3,3,0,0,1,-23.570246,...,0,0,0,0,0,0,0,0,0,0
9356,1100,70,2,3,2,1,0,0,0,-23.484146,...,0,0,0,0,0,0,0,0,0,0
313,0,65,2,2,1,1,0,0,0,-23.543084,...,0,0,0,0,0,0,0,0,0,0
903,230,46,2,2,1,1,0,0,0,-23.675585,...,0,0,0,0,0,0,0,0,0,0

In [23]:
y_train.shape

(5059,)

In [24]:
y_train

5373     1700
500       900
1650     2500
2436     2000
10549    1100
         ...
4044     3600
3331     4000
9356     2000
313       850
903      1290
Name: Price, Length: 5059, dtype: int64

VAMOS PEGAR TRÊS MODELOS PARA TREINAR

LinearRegression

In [25]:
#LinearRegression


from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression()

lin_reg.fit(X_train, y_train)#Aqui ele vai utilizar a função custo para fazer a otimização do modelo


#A ideia é a seguinte, treinar os modelos(X_train e y_train) para que fiquem o menor possivel. Que reduz o custo o menor poessivel

LinearRegression()

In [26]:
#Vamos pegar alguns dados para treinar e ve funcionar 

alguns_dados = X_train.iloc[:5]#esse numero é a quantidade de apartamentos que iremos treinar 
algumas_label = y_train.iloc[:5]#Quantidade de apartamentos

print('predições:', lin_reg.predict(alguns_dados))
print('Labels:', algumas_label.values)


# ESSE FORAM OS VALORES DE TREINO 
#  predições: [1801.05639648 1320.2154541  1254.14489746 2968.69311523 1150.68334961]

#ESSES FORAM OS VALORES VERDADEIROS
# Labels: [1800 1200 2200 3600 1000]

predições: [2728.53076172  942.23217773 2567.16333008 2313.62109375  890.59619141]
Labels: [1700  900 2500 2000 1100]

In [27]:

from sklearn.metrics import mean_squared_error

preds = lin_reg.predict(X_train)
lin_mse = mean_squared_error(y_train, preds )

#Tirar a raiz quadrada

lin_mse = np.sqrt(lin_mse)
lin_mse

1887.1052240734207

A nossa previsão está errando na faixa de R$ 1917 reais  por predição que ele faz.

Ele esta puxando para partamentos mais caros na faixa de 50 mil, por isso o valor ser tão alto nas previsões.

DECISIO TREE REGRESSION 
   - ARVORE DE DECISAO

In [28]:
from sklearn.tree import DecisionTreeRegressor

tree_reg = DecisionTreeRegressor()
tree_reg.fit(X_train, y_train)

DecisionTreeRegressor()

In [29]:
preds = tree_reg.predict(X_train)
tree_mse = mean_squared_error(y_train, preds)

tree_rmse = np.sqrt(tree_mse)
tree_rmse

26.297261723826754

Observa que existe uma diferença muito grande entre a arvode de decisão tivemos um valor de R$ 44.

OU seja ele aprendeu muito pouco com a base de treino dele 


Esse modelo não conseguiu compreender o aspecto geral dos dados

CROSS-VALIDATION

In [30]:
from sklearn.model_selection import cross_val_score

#Pegr a média dos erros quadraddos
scores = cross_val_score(tree_reg, X_train, y_train, scoring="neg_mean_squared_error", cv=10)

tree_rmse_scores = np.sqrt(-scores)#o valor negativo para termos um valor muito parecido que a gente viu anteriormente.

In [31]:
#Criar uma função para printar as medias dos Scores

def display_scores(scores):
  print("Scores:", scores)
  print("Mean", scores.mean())
  print("Standard deviation", scores.std())

display_scores(tree_rmse_scores)

Scores: [2311.93045279 2465.88779361 1777.24752325 1543.42531134 2451.10560518
 2216.93364784 1942.28173009 3449.50656282 3104.76319909 1983.05779789]
Mean 2324.6139623901754
Standard deviation 556.276444157814

Temos um modelos de overfit quando treinamos com omodelo de arvore de decisao
comparando  o modelo de Arvore de decisão co mo modelo crossvalidation, temos uma diferença muito grande
com os valores que ele não viu o cross validations esta errando em 2.274 reais.

O modelo da arvore de decisão treinou demais e ficou burro com a previsão, ou seja, treinou demais os números.

Vamos testar com regressão linear para ver a diferença.

In [32]:
from sklearn.model_selection import cross_val_score

#Pegr a média dos erros quadraddos
scores = cross_val_score(lin_reg, X_train, y_train, scoring="neg_mean_squared_error", cv=10)

lin_rmse_scores = np.sqrt(-scores)




#Criar uma função para printar as medias dos Scores

def display_scores(scores):
  print("Scores:", scores)
  print("Mean", scores.mean())
  print("Standard deviation", scores.std())

display_scores(lin_rmse_scores)

Scores: [1479.91054029 2144.66177492 1902.04457511 1412.23988829 2203.63498492
 1780.22267201 1797.90767394 2771.36797311 1844.12685107 1619.82673812]
Mean 1895.5943671769442
Standard deviation 378.40708430611676

Regressão LInera esta sendo melhor que a arvore de decisão

COM O RESULTADO, PODEMOS DESCARTAR O MODELO DE ARVORE DDE DECISÃO.

--------------

RANDOM FOREST REGRESSORS

In [36]:
from sklearn.ensemble import RandomForestRegressor

In [37]:
rf_reg = RandomForestRegressor()
rf_reg.fit(X_train, y_train)

RandomForestRegressor()

In [38]:
preds = rf_reg.predict(X_train)
rf_mse = mean_squared_error(y_train, preds)

rf_rmse = np.sqrt(rf_mse)
rf_rmse

633.850465495747

Tivemos um desempenho de 623 reais de erro, que é bem abaixo a qual tivemos com os modelos lineares

In [39]:
from sklearn.model_selection import cross_val_score

#Pegr a média dos erros quadraddos
scores = cross_val_score(rf_reg, X_train, y_train, scoring="neg_mean_squared_error", cv=10)

lin_rmse_scores = np.sqrt(-scores)




#Criar uma função para printar as medias dos Scores

def display_scores(scores):
  print("Scores:", scores)
  print("Mean", scores.mean())
  print("Standard deviation", scores.std())

display_scores(lin_rmse_scores)

Scores: [1351.68930691 1853.11838147 1577.46592856 1148.54938177 1808.12486529
 1196.83054428 1492.02206361 2710.35972355 1814.68534211 1445.3123383 ]
Mean 1639.8157875862512
Standard deviation 428.32548135793667

Avaliar e otimizar o MODELO

In [40]:
from sklearn.model_selection import GridSearchCV

In [41]:
#Criar uma lista com os paramentos que quero atualizar 

#Vou testar os estimadores 3,10 e 30

param_grid = [
    {'n_estimators':[3,10,30], 'max_features':[2,4,6,8]},
    {'bootstrap':[False], 'n_estimators':[3,10], 'max_features':[2,3,4]}

]

In [44]:
#INSTANCIAR UMA FLORESTA ALEATORIA 

forest_reg = RandomForestRegressor()


#passa o modelo que vamos testar, passamos o paramentros 
grid_search = GridSearchCV(forest_reg, param_grid, cv=5,
                           scoring = 'neg_mean_squared_error',
                           )
grid_search.fit(X_train, y_train)


#vamos reter o melhor modelo

GridSearchCV(cv=5, estimator=RandomForestRegressor(),
             param_grid=[{'max_features': [2, 4, 6, 8],
                          'n_estimators': [3, 10, 30]},
                         {'bootstrap': [False], 'max_features': [2, 3, 4],
                          'n_estimators': [3, 10]}],
             scoring='neg_mean_squared_error')

In [45]:
#Vamos pegar o melhor modelo que foi feito na floresta. que foi o melhor resultado

grid_search.best_params_

{'max_features': 4, 'n_estimators': 30}

In [46]:
grid_search.best_estimator_

RandomForestRegressor(max_features=4, n_estimators=30)

Agora vamos saber se o nosso modelo de fato é bom ou não

In [49]:
, mean_squared_log_error
final_model = grid_search.best_estimator_
final_model_predictions = final_model.predict(X_test)

final_mse = mean_squared_error(y_test, final_model_predictions)
print(np.sqrt(final_mse))

2078.972674788575

Agora temos o nosso unltimo modelo e esta errando em media em R$ 1.844 nos preços dos
por apartamento.

In [50]:
#GRafico

fig = go.Figure(data=[go.Scatter(y=y_test.values),
                      go.Scatter(y=final_model_predictions)])

fig.show()


#Grafico comparando todos os valores que eu não vi dso preços e que o sistema viu

#Ou seja no grafico mostra a previsao dos imoveis conforme a nossa analise preditiva