<a href="https://colab.research.google.com/github/CLAUDERNORONHA/ABERTO/blob/master/LAMBDA_MAP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mapa


A função de mapa em Python pega listas e uma função e retorna a lista, modificada pela função. Vamos trabalhar em alguns exemplos. Aqui estão três listas a, b e c.
**bold text**

In [1]:
a = [3,4,5,2,7,8]
b = [7,9,2,4,5,1]
c = [5,7,3,4,5,9]

In [2]:
print(a,b)

[3, 4, 5, 2, 7, 8] [7, 9, 2, 4, 5, 1]

In [3]:
#Somar valores das chaves

res = []
for i in range(0 , len(a)):
   res.append(a[i] + b[i])

In [4]:
res

[10, 13, 7, 6, 12, 9]

FILTER

O filtro recebe uma lista como argumento e uma função como expressão. Ele retorna a lista modificada após filtrar os elementos pela função. Aqui estão alguns exemplos.
Retorne apenas o número maior que cinco em uma lista. Antes disso, faça uma nova lista c:

In [5]:
#Pegar os numeros maiores dentro da lista

c = [4,2,9,6,10,4,1]
list(filter(lambda x: x > 5, c))

[9, 6, 10]

Aqui eu defini a função que retorna os números maiores que cinco e a lista c como um argumento.

Veja, ele retornou todos os elementos de c maiores que 5.
Vamos trabalhar em outro exemplo. 

Retorne apenas os números pares de uma lista. Desta vez vou passar a lista 'a'.

In [6]:
#Filtrar apenas os numeros pares dentro da lista.
c = [4,2,9,6,10,4,1]
list(filter(lambda x: x % 2 == 0 , c))

[4, 2, 6, 10, 4]

In [7]:
# Filtrar apenas os numeros impar dentro da lista.

list(filter(lambda x: x % 2 == 1, c))

[9, 1]

Podemos usar lambda e filtro em strings também.
Todos os exemplos acima estão com números. Os próximos exemplos serão sobre strings. Aqui está uma lista de nomes:

In [8]:
nomes = ['Abram', 'Arib', 'Bob', 'Shawn', 'Aria', 'Cicilia', 'John', 'Reema', 'Alice', 'Craig', 'Aaron', 'Simi' ]

In [9]:
# Criamos uma função para pegar todos os nomes que começa com a letra A
list(filter(lambda x: x [0] == 'A', nomes))

['Abram', 'Arib', 'Aria', 'Alice', 'Aaron']

Ordenado



A função classificada é uma maneira muito simples e fácil de classificar números ou strings por alfabetos. Alguns exemplos estão aqui:
Classifique os nomes dos 'nomes' da lista acima pela primeira letra.

In [10]:
sorted(nomes)

['Aaron',
 'Abram',
 'Alice',
 'Aria',
 'Arib',
 'Bob',
 'Cicilia',
 'Craig',
 'John',
 'Reema',
 'Shawn',
 'Simi']

In [11]:
sorted(c)

[1, 2, 4, 4, 6, 9, 10]

Lambda, mapa, filtro e classificado com dicionários


Trabalhar com dicionários é muito mais fácil e eficiente com lambda, mapear, filtrar e classificar.
Aqui está uma lista com quatro dicionários. Cada dicionário consiste no nome de uma pessoa e sua idade.

In [12]:
dict_a = [{'nome': 'John','age': 12},
          {'nome': 'Sonia','age':10},
          {'nome': 'Stevan','age':13},
          {'nome': 'Natasha','age':9}]

RETORNE A LISTA APENAS DE NOMES

In [13]:
list(map(lambda x: x ['nome'], dict_a))

['John', 'Sonia', 'Stevan', 'Natasha']

RETORNE A LISTA COM AS IDADE

In [14]:
list(map(lambda x: x['age'], dict_a))

[12, 10, 13, 9]

COLOCAR AS IDADES POR ORDEM ALFABETICA

In [15]:
sorted(list(map(lambda x: x['age'], dict_a)))

[9, 10, 12, 13]

Provavelmente, você pensa, é mais útil organizar todo o dict_a ordenado por idades. Nesse caso, precisamos apenas usar a chave com lambda:

In [16]:
sorted(dict_a, key = lambda x: x['age'])

[{'age': 9, 'nome': 'Natasha'},
 {'age': 10, 'nome': 'Sonia'},
 {'age': 12, 'nome': 'John'},
 {'age': 13, 'nome': 'Stevan'}]

PEGAR O MAIS NOVO DENTRO DO FILTRO

In [17]:
sorted(dict_a, key = lambda x: x['age'])[0]

{'age': 9, 'nome': 'Natasha'}

INFORMAÇÃO COM CRIANÇA MAIS VELHA

In [18]:
sorted(dict_a, key = lambda x: x['age'])[-1]

{'age': 13, 'nome': 'Stevan'}

Em vez de ordem crescente, se precisarmos que a lista esteja em ordem decrescente:

In [20]:
sorted(dict_a, key = lambda x: x ['age'], reverse= True )

[{'age': 13, 'nome': 'Stevan'},
 {'age': 12, 'nome': 'John'},
 {'age': 10, 'nome': 'Sonia'},
 {'age': 9, 'nome': 'Natasha'}]

Ou, se você deseja classificar pelos nomes em ordem alfabética:

In [21]:
sorted(dict_a, key = lambda x: x['nome'])

[{'age': 12, 'nome': 'John'},
 {'age': 9, 'nome': 'Natasha'},
 {'age': 10, 'nome': 'Sonia'},
 {'age': 13, 'nome': 'Stevan'}]

Envie as informações das crianças com mais de 10 anos:

In [22]:
list(filter(lambda x: x['age'] > 10, dict_a))

[{'age': 12, 'nome': 'John'}, {'age': 13, 'nome': 'Stevan'}]

Depois de três anos, você está devolvendo as idades das crianças. Então, basta adicionar 3 para cada idade:

In [26]:
list(map(lambda x: x['age'] + 3, dict_a)) Output:[15,13,16,12]

SyntaxError: ignored