<a href="https://colab.research.google.com/github/CLAUDERNORONHA/ABERTO/blob/master/MARKETING_ANALYTICS_VAREJO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
#!pip install -q plotly

In [47]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.offline as pyoff
import plotly.graph_objects as go
from datetime import datetime, timedelta

In [48]:
dados = pd.read_csv('/content/drive/MyDrive/1-CIENCIA DE DADOS-CURSOS_ESTUDO DE CASO/DSA/Business Analytics/CAP06-PROJETO3_ANALISE DE INDICADORES DE PERFORMACE DE VAREJO/dados/dataset.csv', encoding='unicode_escape' )

In [49]:
dados.shape

(541800, 8)

In [50]:

dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541800 entries, 0 to 541799
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   NumeroFatura   541800 non-null  object
 1   CodigoProduto  541800 non-null  object
 2   NomeProduto    540346 non-null  object
 3   Quantidade     541800 non-null  int64
 4   DataVenda      541800 non-null  object
 5   ValorUnitario  541800 non-null  float64
 6   IdCliente      406725 non-null  float64
 7   Pais           541800 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [51]:
dados.head()

  NumeroFatura CodigoProduto  ... IdCliente    Pais
0       536365         21730  ...   17850.0  Brasil
1       536365        85123A  ...   17850.0  Brasil
2       536365         71053  ...   17850.0  Brasil
3       536365        84406B  ...   17850.0  Brasil
4       536365        84029G  ...   17850.0  Brasil

[5 rows x 8 columns]

In [52]:

dados.describe()

          Quantidade  ValorUnitario      IdCliente
count  541800.000000  541800.000000  406725.000000
mean        9.551739       4.611581   15287.754038
std       218.103033      96.769576    1713.475925
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13954.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [53]:
#Quantidade de valores nulos
dados.isnull().sum()

NumeroFatura          0
CodigoProduto         0
NomeProduto        1454
Quantidade            0
DataVenda             0
ValorUnitario         0
IdCliente        135075
Pais                  0
dtype: int64

In [54]:
#checar a data minima e data maxima

print("Data minima:", dados['DataVenda'].min())
print('Data Maxima:', dados['DataVenda'].max())

Data minima: 1/10/2011 10:04
Data Maxima: 9/9/2011 9:52

In [55]:
#Transofrmar a data que esta em objeto para dataTime
dados.DataVenda = pd.to_datetime(dados.DataVenda)

In [56]:
print("Data minima:", dados['DataVenda'].min())
print('Data Maxima:', dados['DataVenda'].max())

Data minima: 2010-12-01 08:26:00
Data Maxima: 2011-12-09 12:50:00

Primeiro Indicador - Faturamento Mensal


faturamneto  = quantidade * valor _unitario
> Bloco com recuo

In [57]:
#Extrai o mês da fatura
dados['AnoMes']  = dados['DataVenda'].map(lambda date: 100 * date.year + date.month)

In [58]:
#Observar a mudnaça
dados.head()

  NumeroFatura CodigoProduto  ...    Pais  AnoMes
0       536365         21730  ...  Brasil  201012
1       536365        85123A  ...  Brasil  201012
2       536365         71053  ...  Brasil  201012
3       536365        84406B  ...  Brasil  201012
4       536365        84029G  ...  Brasil  201012

[5 rows x 9 columns]

In [59]:
#Criar uma nova Coluna
#Calcula o Faturamento

dados['Faturamento'] = dados['Quantidade'] * dados['ValorUnitario']

In [60]:
#Vizualizar 
dados.head()

  NumeroFatura CodigoProduto  ...  AnoMes  Faturamento
0       536365         21730  ...  201012        25.50
1       536365        85123A  ...  201012        15.30
2       536365         71053  ...  201012        20.34
3       536365        84406B  ...  201012        22.00
4       536365        84029G  ...  201012        20.34

[5 rows x 10 columns]

In [61]:
#Agrupar o faturamento po mês e ano
#Criar uma nova coluna
df_faturamento = dados.groupby(['AnoMes']).agg({'Faturamento': sum}).reset_index()

In [62]:
#Tabela dos dados
df_faturamento

    AnoMes  Faturamento
0   201012   748957.020
1   201101   560000.260
2   201102   498062.650
3   201103   683267.080
4   201104   493207.121
5   201105   723333.510
6   201106   691123.120
7   201107   681300.111
8   201108   682680.510
9   201109  1019687.622
10  201110  1070704.670
11  201111  1461756.250
12  201112   431245.000

Visulizar o Indicador 1

In [63]:
# Plot

# Definição dos dados no plot
plot_data = [go.Scatter(x = df_faturamento['AnoMes'], 
                        y = df_faturamento['Faturamento'],)]

# Layout
plot_layout = go.Layout(xaxis = {"type": "category"}, 
                        title = 'Faturamento Mensal')

# Plot da figura
fig = go.Figure(data = plot_data, layout = plot_layout)
pyoff.iplot(fig)

No inicio do periodo a um certo desiquilibrio, sazonal a um grande pico em novembro
Teve uma queda para dezembro, o motivo é a falta de dados para o mês de dezembro. 
Vamos rever o mês de dezembro.

INdicador 2  - Taxa de Crescimento Mensal


taxa percentual de crescimento mensal = Faturamento Mensal / Faturamento Anterior * 100

In [64]:
#utilizar a função change()  para calcular a variação mensal 
# Vamos criar uma nova coluna
df_faturamento['CrescimentoMensal'] = df_faturamento['Faturamento'].pct_change()

In [65]:
#Tabela de dados
df_faturamento

    AnoMes  Faturamento  CrescimentoMensal
0   201012   748957.020                NaN
1   201101   560000.260          -0.252293
2   201102   498062.650          -0.110603
3   201103   683267.080           0.371850
4   201104   493207.121          -0.278163
5   201105   723333.510           0.466592
6   201106   691123.120          -0.044530
7   201107   681300.111          -0.014213
8   201108   682680.510           0.002026
9   201109  1019687.622           0.493653
10  201110  1070704.670           0.050032
11  201111  1461756.250           0.365228
12  201112   431245.000          -0.704982

Visualizar o Indicador 2

In [66]:
# Plot

# Definição dos dados no plot (filtramos o mês 12 de 2011 pois não temos dados suficientes)
plot_data = [go.Scatter(x = df_faturamento.query("AnoMes < 201112")['AnoMes'],
                        y = df_faturamento.query("AnoMes < 201112")['CrescimentoMensal'],)]

# Layout
plot_layout = go.Layout(xaxis = {"type": "category"}, 
                        title = 'Taxa Percentual de Crescimento Mensal')

# Plot da figura
fig = go.Figure(data = plot_data, layout = plot_layout)
pyoff.iplot(fig)

Agora temos o grafico sem os dados faltantes do mês de dezembro. O grafico representa até o 
mês de novembro

Indicador 3 - Clientes Ativos por Mês em um país(BR)

Clientes ativos são aquele que faz uma compra a cada mês.

In [67]:
#Criar um dataframe semente com os dados do Brasil

dados_brasil  = dados.query("Pais=='Brasil'").reset_index(drop= True)

In [68]:
#Usuario ativos são aqueles que fizeram pelo menos uma com´pra
df_ativos_mes = dados_brasil.groupby('AnoMes')['IdCliente'].nunique().reset_index()

#Pegamos o dataset Brasil e fizemos o agrupamento por mês. Depois de fazer o agrupamento por
#Mes pegamo o ID Cliente aonde tiver o valor unica(Basta o Cliente ter feito uma unica compra por mês)

In [69]:
#Dados
df_ativos_mes

    AnoMes  IdCliente
0   201012        871
1   201101        684
2   201102        714
3   201103        923
4   201104        817
5   201105        985
6   201106        943
7   201107        899
8   201108        867
9   201109       1177
10  201110       1285
11  201111       1548
12  201112        614

In [70]:
# Plot

# Definição dos dados no plot
plot_data = [go.Bar(x = df_ativos_mes['AnoMes'], 
                    y = df_ativos_mes['IdCliente'],)]

# Layout
plot_layout = go.Layout(xaxis = {"type": "category"}, 
                        title = 'Clientes Ativos Por Mês em um País (Brasil)')

# Plot da figura
fig = go.Figure(data = plot_data, layout = plot_layout)
pyoff.iplot(fig)

Comparando com os graficos anteriores, á uma variação durante todo mês, e uma elevação 
no mês de novembro.

Indicador 4 - Total de Itens Comprados por Mês em um país(BR)

Total de itens comprado por Mês

In [71]:
df_itens_mes = dados_brasil.groupby('AnoMes').sum().reset_index()

In [72]:
#Dados
df_itens_mes

    AnoMes  Quantidade  ValorUnitario    IdCliente  Faturamento
0   201012      298101     251922.900  386193683.0   676742.620
1   201101      237381     158452.110  290726888.0   434308.300
2   201102      225641     118103.430  282219388.0   408247.910
3   201103      279843     145687.730  379520073.0   559707.390
4   201104      257666     106834.271  330113452.0   442254.041
5   201105      306452     170529.890  398057592.0   596459.860
6   201106      258522     179677.320  379441308.0   554478.350
7   201107      324129     158623.061  376874263.0   565479.841
8   201108      319804     133920.440  368344982.0   539130.500
9   201109      458490     177289.462  563058814.0   862018.152
10  201110      455612     214774.210  693248501.0   877438.190
11  201111      642281     301640.980  929524332.0  1282805.780
12  201112      198750     128046.120  247748588.0   386651.410

In [73]:
# Plot

# Definição dos dados no plot
plot_data = [go.Bar(x = df_itens_mes['AnoMes'], 
                    y = df_itens_mes['Quantidade'],)]

# Layout
plot_layout = go.Layout(xaxis = {"type": "category"}, 
                        title = 'Total de Itens Comprados Por Mês em um País (Brasil)')

# Plot da figura
fig = go.Figure(data = plot_data, layout = plot_layout)
pyoff.iplot(fig)

Indicador 5 - Faturamento Médio Mensal em um país (BR)

 * Faturamento médio por mês em um país.

In [74]:
#Calculando o faturamneto médio 
df_faturamento_medio  = dados_brasil.groupby('AnoMes')['Faturamento'].mean().reset_index()

In [75]:
#Dados
df_faturamento_medio

    AnoMes  Faturamento
0   201012    16.865860
1   201101    13.614680
2   201102    16.093027
3   201103    16.716166
4   201104    15.773380
5   201105    17.713823
6   201106    16.714748
7   201107    15.723497
8   201108    17.315899
9   201109    18.931723
10  201110    16.093582
11  201111    16.312383
12  201112    16.223363

In [76]:
# Plot

# Definição dos dados no plot
plot_data = [go.Bar(x = df_faturamento_medio['AnoMes'], 
                    y = df_faturamento_medio['Faturamento'],)]

# Layout
plot_layout = go.Layout(xaxis = {"type": "category"}, 
                        title = 'Faturamento Médio Mensal em um País (Brasil)')

# Plot da figura
fig = go.Figure(data = plot_data, layout = plot_layout)
pyoff.iplot(fig)

Perceba que o pico que aparecia em novembro , não aparece mais, agora o novo pico aparece em setembro

In [77]:
# Calcula o faturamento total por mês
df_faturamento_total = dados_brasil.groupby('AnoMes')['Faturamento'].sum().reset_index()

In [78]:
# Dados
df_faturamento_total

    AnoMes  Faturamento
0   201012   676742.620
1   201101   434308.300
2   201102   408247.910
3   201103   559707.390
4   201104   442254.041
5   201105   596459.860
6   201106   554478.350
7   201107   565479.841
8   201108   539130.500
9   201109   862018.152
10  201110   877438.190
11  201111  1282805.780
12  201112   386651.410

In [79]:
# Plot

# Definição dos dados no plot
plot_data = [go.Bar(x = df_faturamento_total['AnoMes'], 
                    y = df_faturamento_total['Faturamento'],)]

# Layout
plot_layout = go.Layout(xaxis = {"type": "category"}, 
                        title = 'Faturamento Total Mensal em um País (Brasil)')

# Plot da figura
fig = go.Figure(data = plot_data, layout = plot_layout)
pyoff.iplot(fig)

Faturamento mensal,

Indicador 6 - Diferença de faturamneto ao longo do Tempo Entre Clientes Novos e Antigos.

 * Para calcular esse indicador precisaremos de um pouco mais de criatividade. O que é um cliente novo ou antigo?

Vamos considerar cliente novo aquele com baixo volume de compras e cliente antigo aquele com alto volume de compras.

In [80]:
#Vamos encontrar a data de menor volume de compras de cada cliente

df_compra_minima = dados.groupby('IdCliente')['DataVenda'].min().reset_index()

In [81]:
#Ajustar os nomes das colunas
df_compra_minima.columns = ['IdCliente', 'Data_Menor_Compra']

In [82]:
df_compra_minima

      IdCliente   Data_Menor_Compra
0       12346.0 2011-01-18 10:01:00
1       12347.0 2010-12-07 14:57:00
2       12348.0 2010-12-16 19:09:00
3       12349.0 2011-11-21 09:51:00
4       12350.0 2011-02-02 16:01:00
...         ...                 ...
4367    18280.0 2011-03-07 09:52:00
4368    18281.0 2011-06-12 10:53:00
4369    18282.0 2011-08-05 13:35:00
4370    18283.0 2011-01-06 14:14:00
4371    18287.0 2011-05-22 10:39:00

[4372 rows x 2 columns]

In [83]:
# Vamos extrair o mês em que ocorreu o menor volume de compras de cada cliente
# Criar uma nova coluna.
df_compra_minima['Mes_Menor_Compra_Mensal'] = df_compra_minima['Data_Menor_Compra'].map(lambda date: 100 * date.year + date.month)

In [84]:
#Visulizar os dados
df_compra_minima.head()

   IdCliente   Data_Menor_Compra  Mes_Menor_Compra_Mensal
0    12346.0 2011-01-18 10:01:00                   201101
1    12347.0 2010-12-07 14:57:00                   201012
2    12348.0 2010-12-16 19:09:00                   201012
3    12349.0 2011-11-21 09:51:00                   201111
4    12350.0 2011-02-02 16:01:00                   201102

In [86]:
#Criando um Merge entre o dataset original e o dataset de volume de compras

dados_compras = pd.merge(dados, df_compra_minima, on = "IdCliente")
dados_compras.head()

  NumeroFatura CodigoProduto  ...   Data_Menor_Compra  Mes_Menor_Compra_Mensal
0       536365         21730  ... 2010-12-01 08:26:00                   201012
1       536365        85123A  ... 2010-12-01 08:26:00                   201012
2       536365         71053  ... 2010-12-01 08:26:00                   201012
3       536365        84406B  ... 2010-12-01 08:26:00                   201012
4       536365        84029G  ... 2010-12-01 08:26:00                   201012

[5 rows x 12 columns]

In [87]:
#VOu criar uma nova coluna de tipo de usuario e preencher como Novo
dados_compras['TipoUsuario'] = 'Novo'

In [88]:
#Dados
dados_compras['TipoUsuario'].value_counts()

Novo    406725
Name: TipoUsuario, dtype: int64

In [89]:
#Dados
dados_compras.head()

  NumeroFatura CodigoProduto  ... Mes_Menor_Compra_Mensal  TipoUsuario
0       536365         21730  ...                  201012         Novo
1       536365        85123A  ...                  201012         Novo
2       536365         71053  ...                  201012         Novo
3       536365        84406B  ...                  201012         Novo
4       536365        84029G  ...                  201012         Novo

[5 rows x 13 columns]

In [90]:
# Um cliente antigo é aquele cujo volume de compras no mês é maior que o volume mínimo
# Se for verdadeiro, mudamos a coluna TipoUsuario para "Antigo" e se não, mantemos como "Novo"
dados_compras.loc[dados_compras['AnoMes'] > dados_compras['Mes_Menor_Compra_Mensal'], 'TipoUsuario'] = 'Antigo'

In [96]:
#Dados
dados_compras['TipoUsuario'].value_counts()

Antigo    287549
Novo      119176
Name: TipoUsuario, dtype: int64

In [97]:
#Agora calculamos o faturamento por tipo de usuario po mês
df_faturamento_user_mes =  dados_compras.groupby(['AnoMes', 'TipoUsuario']) ['Faturamento'].sum().reset_index()
#e

In [98]:
#Removendo o mês 12 de 2011 pois não temos dados suficientes
df_faturamento_user_mes = df_faturamneto_user_mes.query('AnoMes != 201012 and AnoMes != 201112')

In [99]:
#Dados
df_faturamento_user_mes

    AnoMes TipoUsuario  Faturamento
1   201101      Antigo   271616.520
2   201101        Novo   203457.860
3   201102      Antigo   287024.770
4   201102        Novo   149521.380
5   201103      Antigo   390034.530
6   201103        Novo   189930.080
7   201104      Antigo   306283.600
8   201104        Novo   119764.251
9   201105      Antigo   532392.340
10  201105        Novo   115858.740
11  201106      Antigo   515486.650
12  201106        Novo    92526.510
13  201107      Antigo   508355.610
14  201107        Novo    65882.871
15  201108      Antigo   538709.770
16  201108        Novo    77658.230
17  201109      Antigo   778161.781
18  201109        Novo   153278.591
19  201110      Antigo   819672.900
20  201110        Novo   154930.690
21  201111      Antigo   998176.360
22  201111        Novo   134231.380

In [100]:
# Plot

# Definição dos dados no plot
plot_data = [go.Scatter(x = df_faturamento_user_mes.query("TipoUsuario == 'Antigo'")['AnoMes'],
                        y = df_faturamento_user_mes.query("TipoUsuario == 'Antigo'")['Faturamento'],
                        name = 'Cliente Antigo'),
             go.Scatter(x = df_faturamento_user_mes.query("TipoUsuario == 'Novo'")['AnoMes'],
                        y = df_faturamento_user_mes.query("TipoUsuario == 'Novo'")['Faturamento'],
                        name = 'Cliente Novo')]

# Layout
plot_layout = go.Layout(xaxis = {"type": "category"}, 
                        title = 'Diferença de Faturamento ao Longo do Tempo Entre Clientes Novos e Antigos')

# Plot da figura
fig = go.Figure(data = plot_data, layout = plot_layout)
pyoff.iplot(fig)

O cliente antigo é o que gera retorno para empresa, então devemos olhar com mais cuidado para os clientes antigos. Criando serviços diferenciado para clientes antigos

Indicador 7 - Taxa de novos CLientes

Como definimos clientes novos e antigos no indicador 6, agora podemos usar os dados e calcular a proporção de novos clientes ao longo do tempo.

In [101]:
# Calcula a taxa de novos clientes
df_taxa_novos_clientes = dados_compras.query("TipoUsuario == 'Novo'").groupby(['AnoMes'])['IdCliente'].nunique() / dados_compras.query("TipoUsuario == 'Antigo'").groupby(['AnoMes'])['IdCliente'].nunique()

In [102]:
# Ajustamos índice e removemos valores ausentes
df_taxa_novos_clientes = df_taxa_novos_clientes.reset_index()
df_taxa_novos_clientes = df_taxa_novos_clientes.dropna()

In [103]:
# Dados
df_taxa_novos_clientes

    AnoMes  IdCliente
1   201101   1.162983
2   201102   0.909091
3   201103   0.758621
4   201104   0.498333
5   201105   0.348750
6   201106   0.287990
7   201107   0.238155
8   201108   0.205412
9   201109   0.296813
10  201110   0.328052
11  201111   0.230935
12  201112   0.063863

In [104]:
# Plot

# Definição dos dados no plot
plot_data = [go.Bar(x = df_taxa_novos_clientes.query("AnoMes > 201101 and AnoMes < 201112")['AnoMes'],
                    y = df_taxa_novos_clientes.query("AnoMes > 201101 and AnoMes < 201112")['IdCliente'],)]

# Layout
plot_layout = go.Layout(xaxis = {"type": "category"}, 
                        title = 'Taxa de Novos Clientes')

# Plot da figura
fig = go.Figure(data = plot_data, layout = plot_layout)
pyoff.iplot(fig)

TEm que avaliar o que a empresa fez para atrair novos clientes, Reuniar o pessoal de marketing e criar novas estrategias.

Indicador 8 - Taxa Mensal de Retenção de Clientes

Taxa Mensal de Retenção de clientes = clientes de mes anterior / toral de clientes ativos

In [105]:
# Agrupamos os dados por cliente e mês e somamos o faturamento
dados_compras_clientes = dados_compras.groupby(['IdCliente', 'AnoMes'])['Faturamento'].sum().reset_index()

In [106]:
# Dados
dados_compras_clientes.head()

   IdCliente  AnoMes  Faturamento
0    12346.0  201101         0.00
1    12347.0  201012       711.79
2    12347.0  201101       475.39
3    12347.0  201104       636.25
4    12347.0  201106       382.52

In [107]:
# Agora definimos a retenção com uma tabela cruzada
df_ret = pd.crosstab(dados_compras_clientes['IdCliente'], dados_compras_clientes['AnoMes']).reset_index()

In [108]:
# Dados
df_ret.head()

AnoMes  IdCliente  201012  201101  201102  ...  201109  201110  201111  201112
0         12346.0       0       1       0  ...       0       0       0       0
1         12347.0       1       1       0  ...       0       1       0       1
2         12348.0       1       1       0  ...       1       0       0       0
3         12349.0       0       0       0  ...       0       0       1       0
4         12350.0       0       0       1  ...       0       0       0       0

[5 rows x 14 columns]

In [109]:
# Extraímos os meses
meses = df_ret.columns[2:]
meses

Index([201101, 201102, 201103, 201104, 201105, 201106, 201107, 201108, 201109,
       201110, 201111, 201112],
      dtype='object', name='AnoMes')

In [110]:
# O loop abaixo vai calcular a retenção ao longo dos meses

# Lista para gravar o resulatdo
lista_ret = []

# Loop
for i in range(len(meses)-1):
    dados_retencao = {}
    mes_corrente = meses[i+1]
    mes_anterior = meses[i]
    dados_retencao['AnoMes'] = int(mes_corrente)
    dados_retencao['TotalUser'] = df_ret[mes_corrente].sum()
    dados_retencao['TotalRetido'] = df_ret[(df_ret[mes_corrente] > 0) & (df_ret[mes_anterior] > 0)][mes_corrente].sum()
    lista_ret.append(dados_retencao)
    
lista_ret

[{'AnoMes': 201102, 'TotalRetido': 299, 'TotalUser': 798},
 {'AnoMes': 201103, 'TotalRetido': 345, 'TotalUser': 1020},
 {'AnoMes': 201104, 'TotalRetido': 346, 'TotalUser': 899},
 {'AnoMes': 201105, 'TotalRetido': 399, 'TotalUser': 1079},
 {'AnoMes': 201106, 'TotalRetido': 464, 'TotalUser': 1051},
 {'AnoMes': 201107, 'TotalRetido': 415, 'TotalUser': 993},
 {'AnoMes': 201108, 'TotalRetido': 433, 'TotalUser': 980},
 {'AnoMes': 201109, 'TotalRetido': 465, 'TotalUser': 1302},
 {'AnoMes': 201110, 'TotalRetido': 552, 'TotalUser': 1425},
 {'AnoMes': 201111, 'TotalRetido': 690, 'TotalUser': 1711},
 {'AnoMes': 201112, 'TotalRetido': 440, 'TotalUser': 683}]

In [111]:
# Dados
df_ret_final = pd.DataFrame(lista_ret)
df_ret_final.head()

   AnoMes  TotalUser  TotalRetido
0  201102        798          299
1  201103       1020          345
2  201104        899          346
3  201105       1079          399
4  201106       1051          464

Agora calculamos a proporção para encontrar o indicador.

In [112]:
# Calculamos o indicador
df_ret_final['TaxaRetencao'] = df_ret_final['TotalRetido'] / df_ret_final['TotalUser']
df_ret_final

    AnoMes  TotalUser  TotalRetido  TaxaRetencao
0   201102        798          299      0.374687
1   201103       1020          345      0.338235
2   201104        899          346      0.384872
3   201105       1079          399      0.369787
4   201106       1051          464      0.441484
5   201107        993          415      0.417925
6   201108        980          433      0.441837
7   201109       1302          465      0.357143
8   201110       1425          552      0.387368
9   201111       1711          690      0.403273
10  201112        683          440      0.644217

In [113]:
# Plot

# Definição dos dados no plot
plot_data = [go.Scatter(x = df_ret_final.query("AnoMes < 201112")['AnoMes'],
                        y = df_ret_final.query("AnoMes < 201112")['TaxaRetencao'],
                        name = "taxa")]

# Layout
plot_layout = go.Layout(xaxis = {"type": "category"}, 
                        title = 'Taxa Mensal de Retenção de Clientes')

# Plot da figura
fig = go.Figure(data = plot_data, layout = plot_layout)
pyoff.iplot(fig)